<div class="row">
  <div class="col-xs-12">
    <h2>Create New Contact</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">First Name :</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="lastName">Last Name :</label>
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              class="form-control"
              #lastName
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="phone">Phone :</label>
            <input
              type="text"
              id="phone"
              formControlName="phone"
              class="form-control"
              #phone
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="email">E-mail :</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
              #email
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">Address :</label>
            <input
              type="text"
              id="address"
              formControlName="address"
              class="form-control"
              #address
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!contactForm.valid"
          >
            Add Contact
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
