<div class="row">
  <div class="col-xs-12">
    <h2>Details :</h2>
    <h3>{{ contact.name | uppercase }} {{ contact.lastName | uppercase }}</h3>
  </div>
</div>

<label>Phone:</label>:
<div class="row">
  <div class="col-xs-12">
    {{ contact.phone }}
  </div>
</div>
<label>Email:</label>:
<div class="row">
  <div class="col-xs-12">
    {{ contact.email }}
  </div>
</div>
<label>Address:</label>:
<div class="row">
  <div class="col-xs-12">
    {{ contact.address }}
  </div>
</div>
