<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix"
>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ contact.name }}</td>
        <td>{{ contact.lastName }}</td>
      </tr>
    </tbody>
  </table>
</a>
