<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="createNewContact()">
      New Contact
    </button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <app-contact-item
      *ngFor="let contactEl of (contacts | async).contacts; let i = index"
      [contact]="contactEl"
      [index]="i"
    ></app-contact-item>
  </div>
</div>
